<html>
<body>
<h1>Upload the file on IPFS</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
	<label>File Name</label>
	<input type="text" name="fileName">
	<br><br>
	<label>Upload File</label>
	<input type="file" name="file1">
	<br><br>
	<input type="submit" value="Submit">
</form>
</body>
</html>